.home-root {
	padding: 20px 0;
	.header {
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 24px;
		.logo {
			height: 100%;
			img {
				height: 100%;
			}
		}
		margin-top: 40px;
	}
	.content {
		.greeting {
			padding-top: 40px;
			font-size: 2rem;
			font-weight: bold;
			padding-left: 20px;
		}
	}

	.chart {
		display: flex;
		justify-content: center;
	}

	.chart-text {
		margin-top: -310px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.days-remaining {
			font-size: 4rem;
			font-weight: bold;
		}

		.days-remaining-label {
			font-size: 1.5rem;
		}

		.next-label {
			font-size: 14px;
			opacity: 0.5;
			margin-top: 30px;
		}

		.next-bin-colors {
			display: flex;
			gap: 8px;
			margin-top: 20px;
			.bin {
				display: flex;
				align-items: center;
				gap: 4px;
				.color-box {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}
